@font-face {
  font-family: iiisun;
  src: url("/public/style/iiisunFont-Regular.otf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #09132e;
  color: whitesmoke;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'iiisun', 'Calibri', serif;
}

img { max-width: 100%; }
h1 { font-size: 84px; }
h2 { font-size: 72px; }
h3 { font-size: 48px; }
h4 { font-size: 32px; margin: 0; }
p { font-family: system-ui, 'Helvetica Neue', sans-serif; font-size: 1.2rem; }
a {
  color: #eb901a;
}

section { padding: 80px 30px; position: relative; }
section.fade { background: linear-gradient(#09132e, black); }
section.blue-bg { background-color: #09132e ; }
section h1 { color: #fdffff; }
section p { color: whitesmoke; }

footer {
  background-color: #09132e;
  color: whitesmoke;
  padding: 10px;
}

footer a {
  color: whitesmoke;
}

.container {
  margin: auto;
  padding: 10px;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-auto {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.center {
  align-items: center;
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-start {
  align-self: flex-start;
}

.align-center {
  align-self: center;
}

.align-end {
  align-self: flex-end;
}

.spacer-lg {
  user-select: none;
  font-size: 500px;
}

.spacer-md {
  user-select: none;
  font-size: 250px;
}

.mt-50 {
  margin-top: -50px;
}

.mt-80 {
  margin-top: 80px;
}

.wide {
  max-width: 1200px;
}

.width-500 {
  width: 500px;
}

.width-420 {
  width: 420;
}

.width-360 {
  width: 360;
}

.width-300 {
  width: 420;
}
