html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #bec4d6;
  background-image: linear-gradient(43deg, #bec4d6 0%, #f7f3f5 69%, #fff2b6 100%);
  font-family: sans-serif;
}

.container {
  margin: auto;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}