html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #09132e;
  font-family: sans-serif;
}

main {
  background-color: #09132e;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  padding: 10px;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
