@font-face {
  font-family: iiisun;
  src: url("/static/style/iiisunFont-Regular.otf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #09132e;
  font-family: 'iiisun', 'Calibri', serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 72px;
}

main {
  color: whitesmoke;
  background-color: #09132e;
}

.container {
  margin: auto;
  padding: 10px;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
