nav {
  background-color: coral;
  position: fixed;
  z-index: 3;
  top: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  padding: 10px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menu-icon {
  width: 100px;
  cursor: pointer;
}

#menu-content {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(180deg);
}

